.header {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 26px);
  z-index: 3;
}

.header__logo {
  display: flex;
  column-gap: 6px;
}

.header__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 108%;
  text-transform: uppercase;
  color: #595653;
}


@media all and (max-width: 445px) {
  .header {
    transform: translate(-50%, 18px);
  }

  .header__title {
    font-size: 14px;
  }


}